body {
    background-color: #D3D3D3;
}

.container {
    width:70%;
    margin: 50px auto;
    background-color: #fff;
    border: 1px solid #000;
    padding: 30px 20px;font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.6em;
}

.section-normale {
    background-color: #D3D3D3;
    padding: 30px 70px;
    width: 70%;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

h1 {
    border-top : 3px solid #8B0000;
    border-bottom : 3px solid #8B0000;
    font-weight: 700;
    font-size: 70px;
    padding: 40px 0;
    letter-spacing: 4px;
    /* font-stretch: extra-expanded; */
}

h2 {   
    margin-bottom:40px;
    font-size:40px
}

h3 {
    color:#8b0000;
    font-size:35px;
}

#logo-haut {
    margin: 0 0 40px 0;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
    font-family: 'Oswald', sans-serif;
}

#logo-bas {
    margin: 0 0 40px 0;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#la-serie {
    color:#fff;
    background-color: #000;
    padding: 1% 2%;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0px;
}

.italique {
    font-style: italic;
    border-top: 1px solid black;
    margin:0;
    padding-top: 25px;
    font-size:15px;
    line-height: 1.4em;
    text-align: center;
}

strong {
    font-weight: 700;
}

ul {
    padding: 0;
}

li a {
    display:block;
}

li {
    text-transform: uppercase;
    font-weight: lighter;
    color: #8B0000;
    font-size: 0.8em;
    text-align: center;
    background-color: #D3D3D3;
    border-radius: 15px;
    width:70%;
    margin: 0 auto 10px auto;
}

li:hover {
    background-color:#8B0000;
    color:#D3D3D3;
    transition: color .5s;
    transition: background-color .5s;
}

.image-film {
    display: block;
    margin:30px auto 20px auto;
    width:80%;
}

.blocs-images {
    text-align: center;
    border: 1px solid #777777;
    margin:0 auto 20px auto;;
    width:30%;
}

footer {
    background-color: #D3D3D3;
    height: 150px;
    text-align: center;
    padding-top:10px;
    margin-top:40px;
}